.car__card {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__wrapper {
    display: flex;
}

.car__photo {
    width: 108px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c4c4c4;
    margin-right: 20px;
}

.part__photo {
    width: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ededed;
    border-radius: 3px;
    background: #fff;
    // margin-right: 20px;
}

.car__name {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    // margin: 0px;
    /* identical to box height, or 150% */

    /* black / black light */

    color: #3b3b3b;
}

.car__vin {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    /* identical to box height, or 154% */

    /* gray / gray */

    color: #7b7b7b;
}

.part__card {
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
