@import '@avtopro/style/themes/default.less';

.car__card {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card__wrapper {
    box-sizing: border-box;
    display: flex;
    height: 72px;
    margin-left: 10px;
}

.car__name {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #3b3b3b;
}

.car__vin {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #7b7b7b;
}

.parts {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.part__wrapper {
    padding: 10px;
    background: #ffffff;

    &:not(:last-child) {
        border-bottom: 1px solid #ededed;
        box-shadow: none;
    }
}

.part__title {
    display: flex;
}

.overallPrice__wrapper {
    width: 143px;
    height: 72px;
    background: @whiteDarkestColor;
    padding: 10px 0px 10px 15px;
}

.overallPrice__title {
    margin-bottom: 8px !important;
    font-size: 13px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #3b3b3b;
}

.overallPrice {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #3b3b3b;
}
